.hero-video-container#hero-video-container
  %iframe#hero-video{ src: "", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "1" }

.blank-header.commit-header{style: "background: url('/images/events/vancouver-unsplash.jpg') center 20% no-repeat; background-size: cover;"}
  .header-content
    %img.hero-image{ src: "/images/events/gitlab-contribute-icon-web.png", alt: "GitLab logo" }
    %h1 GitLab Sales Kick Off
    %h3 It's time to level up!
  %p.alert.alert-gitlab-purple.text-center
    %i.fab.fa-gitlab.fa-fw{ style: "color:rgb(252,109,38); font-size:.85em" }
    Counting down to February 10th 2020!
    %i.fab.fa-gitlab.fa-fw{ style: "color:rgb(252,109,38); font-size:.85em" }
    %br
    %span.h3#nextSummitCountdown
