---
layout: handbook-page-toc
title: Retention Group
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

The Retention Group is part of the [Growth section]
and works to implement the Growth [Product Vision for Retention](/direction/growth/retention/) and meet the
[Expansion and Retention](/handbook/engineering/development/growth/performance-indicators/#expansion-and-user-retention)
engineering KPIs.

* I have a question. Who do I ask?

Questions should start by @ mentioning the Product Manager for the [Retention group](/handbook/product/categories/#retention-group)
or creating a new issue in the Growth Product [Retention issues] list.

### How we work

* We're data savvy
* In accordance with our [GitLab values]
* Transparently: nearly everything is public
* We get a chance to work on the things we want to work on
* Everyone can contribute; no silos

### Workflow

We use the [Engineering workflow](/handbook/engineering/workflow/) when working on issues and
merge requests across multiple projects.

#### Prioritization

Prioritization is a collaboration between Product, UX, Data, and Engineering. We use the
[ICE framework](/direction/growth/#growth-ideation-and-prioritization) for experiments.

#### Tracking

While not all of the work we do relates to the GitLab project directly, we use
[milestones](https://docs.gitlab.com/ee/user/project/milestones/) to track `Deliverables` and other enhancements.

* [Milestone planning](https://gitlab.com/groups/gitlab-org/-/boards/1370834?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Agrowth&label_name[]=group%3A%3Aretention)
* [Milestone deliverables](https://gitlab.com/groups/gitlab-org/-/boards/1370834?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Agrowth&label_name[]=group%3A%3Aretention&label_name[]=Deliverable)
* [Workflow (progress)](https://gitlab.com/groups/gitlab-org/-/boards/1158847?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Agrowth&label_name[]=group%3A%3Aretention)

## Team Members

The following people are permanent members of the Retention Group:

<%= direct_team(manager_role: 'Engineering Manager, Growth:Expansion and Retention', role_regexp: /(Growth:Retention)/) %>

## Stable Counterparts

We work closely with our colleagues in the [Expansion](/handbook/engineering/development/growth/expansion/), [Fulfillment](/handbook/engineering/development/growth/fulfillment/)
and [Telemetry](/handbook/engineering/development/growth/telemetry/) groups.

The following members of other functional teams are our stable counterparts:

<%=
other_manager_roles = ['Director of Engineering, Growth']
direct_managers_role = 'Engineering Manager, Growth:Expansion and Retention'
roles_regexp = /[,&] (Growth)/

stable_counterparts(role_regexp: roles_regexp, direct_manager_role: direct_managers_role, other_manager_roles: other_manager_roles)
%>

## Retention Links
* `#g_retention` in [Slack](https://gitlab.slack.com/archives/g_retention) (internal)
* [Retention issues]

## Common Links

* [Growth section]
* [Growth issues board]
* `#s_growth` in [Slack](https://gitlab.slack.com/archives/s_growth)
* [Growth Performance Indicators]
* [Growth opportunities]
* [Growth meetings and agendas]
* [GitLab values]

[Retention issues]: https://gitlab.com/gitlab-org/growth/product/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Aretention

[Growth section]: /handbook/engineering/development/growth/
[Growth issues board]: https://gitlab.com/groups/gitlab-org/-/boards/1158847
[Growth Performance Indicators]: /handbook/engineering/development/growth/performance-indicators/
[Growth opportunities]: https://gitlab.com/gitlab-org/growth/product
[Growth meetings and agendas]: https://docs.google.com/document/d/1QB9uVQQFuKhqhPkPwvi48GaibKDwGAfKKqcF-s3Y6og
[GitLab values]: /handbook/values/
